amqp==2.6.1
arabic-reshaper==2.1.1
asgiref==3.2.10
beautifulsoup4==4.9.3
billiard==3.6.3.0
boto3==1.16.40
botocore==1.19.40
Brotli==1.0.9
celery==4.4.7
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.2
django-allauth==0.43.0
django-brotli==0.2.0
django-countries==6.1.3
django-crispy-forms==1.10.0
django-extensions==3.0.9
django-heroku==0.3.1
django-mathfilters==1.0.0
django-storages==1.11
django-template-maths==0.2.0
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
idna==2.10
jmespath==0.10.0
kombu==4.6.11
oauthlib==3.1.0
Pillow==7.2.0
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.2.0
pytz==2020.1
reportlab==3.5.59
requests==2.24.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
structlog==20.2.0
urllib3==1.25.11
vine==1.3.0
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
