{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Produkte{% endblock %}

{% block content %}


<!-- Überschrift -->
<div class="flexbox">
  <div class="h2">Produkte für {{ current_cat }}</div>
</div>

<div class="rounded-box mb-4 w-100 d-flex flex-wrap justify-content-between align-items-center">

  <!-- Link: Produkt erfassen -->
  <div class="mb-2" style="min-width: 180px;">
    <a class="btn btn-dark-rounded" href="{% url 'store:product_cms_create' current_cat %}">Produkt erfassen</a>
  </div>

  <!-- Mitte: Kategorieauswahl -->
  {% if category %}
  <div class="mb-2 d-flex flex-wrap justify-content-center" style="gap: 10px; flex: 1;">
    {% for cat in category %}
      <a href="{% url 'store:cms_produkte' cat %}" class="category-button">{{ cat }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Rechts: Suchfeld + Buttons -->
  {% if current_cat %}
  <form method="get" action="{% url 'store:cms_produkte' current_cat %}" class="d-flex align-items-center flex-wrap gap-2" style="min-width: 300px;">
    <input type="text" name="search" class="form-control" placeholder="Suche" style="max-width: 200px;">
    <button type="submit" class="btn btn-dark-rounded">
      <i class="fas fa-search"></i> Suchen
    </button>
    <a href="{% url 'store:cms_produkte' current_cat %}" class="btn btn-dark-rounded">
      <i class="fas fa-times"></i> zurücksetzen
    </a>
  </form>
  {% endif %}

</div>


<!-- Produkttabelle -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Artikel-Nr.</th>
      <th>Bild</th>
      <th>Bezeichnung</th>
      <th>Preis</th>
      <th>Kategorie</th>
      <th>Subkategorie</th>
      <th>Marke</th>
      <th>Sortierung</th>
      <th>Bearbeiten</th>
      <th>Löschen</th>
    </tr>
  </thead>
  <tbody>
    {% for data in produkte %}
    <tr>
      <td>{{ data.artikelnr }}</td>
      <td>{% if data.titelbild %}<img style="width:60px" src="{{ data.titelbild.url }}">{% endif %}</td>
      <td>{{ data.titel }}</td>
      <td>CHF {{ data.preis|floatformat:2 }}</td>
      <td>{{ data.kategorie }}</td>
      <td>{{ data.subkategorie }}</td>
      <td>
        <a href="{% url 'store:cms_product_marke_overview' data.pk %}">
          <i class="fas fa-info-circle"></i>
        </a>
      </td>
      <td>{{ data.sortierung }}</td>
      <td>
        <a href="{% url 'store:cms_produkte_edit' data.pk current_cat %}">
          <i class="far fa-edit" style="color: #29384f; font-size: 18px;"></i>
        </a>
      </td>
      <td>
        <a href="#" data-toggle="modal" data-target="#deleteModal_{{ data.pk }}">
          <i class="far fa-trash-alt" style="color: red; font-size: 18px;"></i>
        </a>

        <!-- Bootstrap Modal -->
        <div class="modal fade" id="deleteModal_{{ data.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_{{ data.pk }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <form method="post" action="{% url 'store:cms_remove_product' data.pk current_cat %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel_{{ data.pk }}">Produkt löschen</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Möchten Sie das Produkt <strong>{{ data.titel }}</strong> wirklich löschen?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                  <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
