{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Produkte erfassen{% endblock %}

{% block content %}

	<style>
		.form-check-input {
			position: absolute;
			margin-top: .3rem;
			margin-left: -0.25rem;
		}
	</style>

	<div class="produkt">
				
		<div class="produkt-header">
			<h2>Marke erfassen</h2><button class="btn btn-danger btn-exit"><a href="{% url 'store:cms_marken' %}">Zurück <span class="fas fa-times"></span></a></button>
		</div>
		<br>
		<div class="form-group">
		    
		    <form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.media }}

				<!-- Name -->
				<div class="mb-3 row">
					<label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-6">
					{{ form.name }}
					</div>
				</div>

				<!-- Slug -->
				<div class="mb-3 row">
					<label for="{{ form.slug.id_for_label }}" class="col-sm-2 col-form-label">Slug</label>
					<div class="col-sm-6">
					{{ form.slug }}
					</div>
				</div>

				<!-- Marke Pic -->
				<div class="mb-3 row">
					<label for="{{ form.markepic.id_for_label }}" class="col-sm-2 col-form-label">Bild</label>
					<div class="col-sm-6">
					{{ form.markepic }}
					</div>
				</div>

				<!-- Marketext -->
				<div class="mb-3 row">
					<label for="{{ form.marketext.id_for_label }}" class="col-sm-2 col-form-label">Beschreibung</label>
					<div class="col-sm-6">
					{{ form.marketext }}
					</div>
				</div>

				<!-- Bestseller -->
				<div class="mb-3 row align-items-center">
					<label for="{{ form.bestseller.id_for_label }}" class="col-sm-2 col-form-label">Bestseller</label>
					<div class="col-sm-6 d-flex align-items-center">
					{{ form.bestseller }}
					</div>
				</div>

				<div class="mb-3 row">
					<div class="col-sm-6 offset-sm-2">
					<button type="submit" class="btn btn-success">Speichern</button>
					</div>
				</div>
			</form>


		      
  		</div>
  	</div>

 {% endblock %}

