{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Produkt erfassen – {{ cat }}{% endblock %}

{% block content %}


<div class="container">
    <div class="produkt-header">
        <h2>Produkt erfassen – {{ cat }}</h2>
        <a href="{% url 'store:cms_produkte' cat|urlencode %}" class="btn btn-danger btn-exit">
            <span class="fas fa-times"></span> Zurück
        </a>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">
            <span class="fas fa-check-circle"></span> Speichern
        </button>
    </form>
</div>

{% endblock %}
