{% extends 'base.html' %}
{% load static %}
{% block title %}Vielen Dank für die Anfrage | gastrodichtung.ch {% endblock %}
{% block meta_description %}Vielen Dank für die Anfrage.{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}


   
<div class="container" style="padding: 10rem 0">
  <div class="row">
     

     <div class="col-lg-7 pl-5">
          <div class="contact-information">
            <h1>Vielen Dank für die Anfrage</h1>

            <h2>Wir melden uns schnellstmöglich bei Ihnen zurück.</h2>
           
          </div>
        </div>

       
      </div><!--end row-->
    </div><!--container row-->





{% endblock %}

    
