{% extends 'shop/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Produktbeschrieb {{ item }} | gastrodichtung.ch {% endblock %}
{% block meta_description %}Produktbeschrieb <strong>{{ item }}</strong> | gastrodichtung.ch {% endblock %}

{% block content %}

<div class="container">
  <div class="dichtflex-container pt-5">
    <div class="dichtflex-element">
      <p class="top">{{ item.subkategorie }}<br><strong>{{ item.titel }}</strong></p>
      {% if item.titelbild %}<img src="{{ item.titelbild.url }}">{% endif %}
      <h4 class="mt-4">Bemerkung</h4>
      <p>{{ item.beschreibung }}</p>
    </div>

    <div class="dichtflex-element">
      <p class="preis">CHF {{ item.preis|floatformat:2 }} <small>exklusive MwSt</small><br><small class="muted">(1 Laufmeter = CHF {{ item.preis|floatformat:2 }})</small></p>
      <div class="table-responsive artikeluebersicht">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr><th class="pl-0 w-25"><strong>Artikel-Nr.</strong></th><td>{{ item.artikelnr }}</td></tr>
            {% if item.subkategorie.sub_name|lower == 'ofendichtungen' %}
              {% if item.hersteller %}<tr><th class="pl-0 w-25"><strong>Hersteller</strong></th><td>{{ item.hersteller }}</td></tr>{% endif %}
            {% else %}
              {% if item.material %}<tr><th class="pl-0 w-25"><strong>Material</strong></th><td>{{ item.material }}</td></tr>{% else %}<tr><th class="pl-0 w-25"><strong>Material</strong></th><td>{{ item.subkategorie }}</td></tr>{% endif %}
            {% endif %}
            {% if item.farbe %}<tr><th class="pl-0 w-25"><strong>Farbe</strong></th><td>{{ item.farbe }}</td></tr>{% endif %}
            {% if item.montage %}<tr><th class="pl-0 w-25"><strong>Typ</strong></th><td>{{ item.montage }}</td></tr>{% endif %}
            {% if item.nut %}<tr><th class="pl-0 w-25"><strong>Nut</strong></th><td>{{ item.nut }}</td></tr>{% endif %}
            {% if item.falzluft %}<tr><th class="pl-0 w-25"><strong>Falzluft</strong></th><td>{{ item.falzluft }}</td></tr>{% endif %}
            {% if item.fuge %}<tr><th class="pl-0 w-25"><strong>Fuge</strong></th><td>{{ item.fuge }}</td></tr>{% endif %}
            <tr><th class="pl-0 w-25"><strong>Lieferung</strong></th><td><i class="fas fa-check-circle"></i> {% if item.lieferung %}{{ item.lieferung }}{% else %}bitte anfragen{% endif %}</td></tr>
          </tbody>
        </table>
      </div>

      <details class="form-card mt-4">
        <summary><strong>Produktanfrage</strong></summary>
        <form method="POST" action="">
          {% csrf_token %}

          {% if item.kategorie|lower == 'gummidichtung' or item.kategorie|lower == 'epdm-moosgummi' %}
          <div class="form-group">
            <label for="laufmeter">Laufmeter (Meterware):</label>
            <input type="text" class="form-control" name="laufmeter" placeholder="" required>
          </div>
          {% elif item.kategorie|lower == 'pvc mit magnet' or item.kategorie|lower == 'pvc ohne magnet' %}
          <div class="aussenmass-flex">
            <div class="form-group aussenmass-flex-item">
              <label for="aussenbreite">Aussenbreite:</label>
              <input type="text" class="form-control" name="aussenbreite" placeholder="z.B. 800mm" required>
            </div>
            <div class="form-group aussenmass-flex-item">
              <label for="aussenhöhe">Aussenhöhe:</label>
              <input type="text" class="form-control" name="aussenhöhe" placeholder="z.B. 500mm" required>
            </div>
          </div>
          <div class="form-group">
            <label>Anzahl:</label>
            <input type="number" class="form-control" name="anzahl" value="1" required>
          </div>
          <div class="text-center">
            <img id="aussenmass-bild" src="{% static 'images/aussenmass-beispiel.png' %}" alt="Maß-Skizze">
          </div>
          {% endif %}

         <div class="form-group">
            <label for="name">Ihr Name:</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Ihre E-Mail:</label>
            <input type="email" class="form-control" name="email" required>
          </div>

          <div class="form-group">
            <label for="betrieb">Betrieb / Firma (optional):</label>
            <input type="text" class="form-control" name="betrieb" required>
          </div>
          <div class="form-group">
            <label for="strasse">Strasse / Nr. :</label>
            <input type="text" class="form-control" name="strasse" required>
          </div>
          <div class="form-group">
            <label for="ort">PLZ / Ort:</label>
            <input type="text" class="form-control" name="ort" required>
          </div>
          <div class="form-group">
            <label for="telefon">Telefon/Mobile-Nr.:</label>
            <input type="text" class="form-control" name="telefon">
          </div>
          <div class="form-group">
            <label for="nachricht">Nachricht:</label>
            <textarea class="form-control" name="nachricht" rows="3"></textarea>
          </div>

          <input type="hidden" name="produkt" value="{{ item.titel }}">
          <input type="hidden" name="artikelnr" value="{{ item.artikelnr }}">
          <input type="hidden" name="produktlink" value="{{ request.build_absolute_uri }}">

          <button type="submit" class="btn btn-warning mt-3">Anfrage senden</button>
        </form>
      </details>
    </div>
  </div>
</div>

{% endblock content %}