{% extends 'shop/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ item.titel }} | gastrodichtung.ch {% endblock %}
{% block meta_description %}Produktbeschrieb <strong>{{ item.titel }}</strong> | gastrodichtung.ch {% endblock %}

{% block content %}
<div class="container">
  <div class="dichtflex-container pt-5">
    <!-- Linke Spalte: Bild, Titel, Beschreibung -->
    <div class="dichtflex-element">
      <div class="info-card">
        <p class="top">{{ item.kategorie }}<br><strong>{{ item.titel }}</strong></p>
        {% if item.titelbild %}
        <img src="{{ item.titelbild.url }}" alt="Produktbild">
        {% endif %}
        <br>
        <h5><strong>Bemerkung</strong></h5>
        <p>{{ item.beschreibung|default:"Anwendbar für:" }}</p>
      </div>
    </div>

    <!-- Rechte Spalte: Tabelle + Formular -->
    <div class="dichtflex-element">
      <div class="product-info-card">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25"><strong>Artikel-Nr.</strong></th>
              <td>{{ item.artikelnr }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25"><strong>Material</strong></th>
              <td>{{ item.material|default:item.kategorie }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25"><strong>Typ</strong></th>
              <td>{{ item.montage }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25"><strong>Lieferung</strong></th>
              <td><i class="fas fa-check-circle"></i> {{ item.lieferung|default:"bitte anfragen" }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25"><strong>Montage</strong></th>
              <td>Auf Anfrage</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- KLAPPBARES Formular -->
      <details class="form-card mt-4">
        <summary><strong>Musterbestellung</strong></summary>
        <form method="POST" action="">
          {% csrf_token %}

          {% if item.kategorie|lower == 'gummidichtung' or item.kategorie|lower == 'epdm-moosgummi' %}
          <div class="form-group">
            <label for="laufmeter">Laufmeter (Meterware):</label>
            <input type="text" class="form-control" name="laufmeter" placeholder="" required>
          </div>
          {% elif item.kategorie|lower == 'pvc mit magnet' or item.kategorie|lower == 'pvc ohne magnet' %}
          <div class="aussenmass-flex">
            <div class="form-group aussenmass-flex-item">
              <label for="aussenbreite">Aussenbreite:</label>
              <input type="text" class="form-control" name="aussenbreite" placeholder="z.B. 800mm" required>
            </div>
            <div class="form-group aussenmass-flex-item">
              <label for="aussenhöhe">Aussenhöhe:</label>
              <input type="text" class="form-control" name="aussenhöhe" placeholder="z.B. 500mm" required>
            </div>
          </div>
          <div class="text-center">
            <img id="aussenmass-bild" src="{% static 'images/aussenmass-beispiel.png' %}" alt="Maß-Skizze">
          </div>
          <div class="form-group">
            <label>Anzahl:</label>
            <input type="number" class="form-control" name="anzahl" value="1" required>
          </div>
          {% endif %}

           <div class="form-group">
            <label for="betrieb">Betrieb / Firma (optional):</label>
            <input type="text" class="form-control" name="betrieb" required>
          </div>
          <div class="form-group">
            <label for="name">Ihr Name:</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Ihre E-Mail:</label>
            <input type="email" class="form-control" name="email" required>
          </div>

          <div class="form-group">
            <label for="telefon">Ihre Telefon/Mobile-Nr.:</label>
            <input type="text" class="form-control" name="telefon">
          </div>

         
          <div class="form-group">
            <label for="strasse">Strasse / Nr. :</label>
            <input type="text" class="form-control" name="strasse" required>
          </div>
          <div class="form-group">
            <label for="ort">PLZ / Ort:</label>
            <input type="text" class="form-control" name="ort" required>
          </div>
          
          <div class="form-group">
            <label for="nachricht">Nachricht:</label>
            <textarea class="form-control" name="nachricht" rows="3"></textarea>
          </div>

          <input type="hidden" name="produkt" value="{{ item.titel }}">
          <input type="hidden" name="artikelnr" value="{{ item.artikelnr }}">
          <input type="hidden" name="produktlink" value="{{ request.build_absolute_uri }}">

          <button type="submit" class="btn btn-warning mt-3">Anfrage senden</button>
        </form>
      </details>
    </div>
  </div>
</div>
{% endblock content %}