{% extends 'shop/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Produktbeschrieb {{ item }} | gastrodichtung.ch {% endblock %}
{% block meta_description %}Produktbeschrieb <strong>{{ item }}</strong> | gastrodichtung.ch {% endblock %}

{% block content %}

{% if item.subkategorie.sub_name|lower == 'duschdichtungen' %}
<div class="container">
  <div class="dichtflex-container">
    <div class="dichtflex-element">
      <p class="preis">CHF {{ item.preis|floatformat:2 }} <small>exklusive MwSt</small>
        <br>
        <small class="muted">(1 Laufmeter = CHF {{ item.preis|floatformat:2 }})</small>
      </p>
      <div class="ptitel"><h2>{{ item.subkategorie.sub_name }} Nr. {{ item.artikelnr }}</h2></div>
      <div class="table-responsive artikeluebersicht">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr><th class="pl-0 w-25"><strong>Artikel-Nr.</strong></th><td>DD{{ item.artikelnr }}TR</td></tr>
            <tr><th class="pl-0 w-25"><strong>Typ</strong></th><td>{{ item.kategorie }}</td></tr>
            <tr><th class="pl-0 w-25"><strong>Länge</strong></th><td>2010mm</td></tr>
            {% if item.glasdicke %}<tr><th class="pl-0 w-25"><strong>Glasdicke</strong></th><td>{{ item.glasdicke }}</td></tr>{% endif %}
            <tr><th class="pl-0 w-25"><strong>Lieferung</strong></th><td><i class="fas fa-check-circle"></i> ca. 5 - 7 Tage</td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dichtflex-element">
      {% if item.titelbild %}<img src="{{ item.titelbild.url }}">{% endif %}
      <p>Hier <a href="{% url 'account_login' %}">anmelden oder registrieren</a> um zu bestellen.</p>
      <p>Wenn Sie nicht sicher sind, ob dies das passende Produkt für Sie ist, rufen Sie uns an unter <a href="phoneto:+41 435089060">043 508 90 60</a> oder senden Sie uns eine</p>
      <a class="btn btn-primary btn-sm" href="/kontakt">Anfrage</a>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="dichtflex-container pt-5">
    <div class="dichtflex-element">
      <p class="top">{{ item.subkategorie }}<br>{{ item.titel }}</p>
      {% if item.titelbild %}<img src="{{ item.titelbild.url }}">{% endif %}
    </div>
    <div class="dichtflex-element">
      <p class="preis">CHF {{ item.preis|floatformat:2 }} <small>exklusive MwSt</small><br><small class="muted">(1 Laufmeter = CHF {{ item.preis|floatformat:2 }})</small></p>
      <div class="table-responsive artikeluebersicht">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr><th class="pl-0 w-25"><strong>Artikel-Nr.</strong></th><td>{{ item.artikelnr }}</td></tr>
            {% if item.subkategorie.sub_name|lower == 'ofendichtungen' %}
              {% if item.hersteller %}<tr><th class="pl-0 w-25"><strong>Hersteller</strong></th><td>{{ item.hersteller }}</td></tr>{% endif %}
            {% else %}
              {% if item.material %}<tr><th class="pl-0 w-25"><strong>Material</strong></th><td>{{ item.material }}</td></tr>{% else %}<tr><th class="pl-0 w-25"><strong>Material</strong></th><td>{{ item.subkategorie }}</td></tr>{% endif %}
            {% endif %}
            {% if item.farbe %}<tr><th class="pl-0 w-25"><strong>Farbe</strong></th><td>{{ item.farbe }}</td></tr>{% endif %}
            {% if item.montage %}<tr><th class="pl-0 w-25"><strong>Typ</strong></th><td>{{ item.montage }}</td></tr>{% endif %}
            {% if item.nut %}<tr><th class="pl-0 w-25"><strong>Nut</strong></th><td>{{ item.nut }}</td></tr>{% endif %}
            {% if item.falzluft %}<tr><th class="pl-0 w-25"><strong>Falzluft</strong></th><td>{{ item.falzluft }}</td></tr>{% endif %}
            {% if item.fuge %}<tr><th class="pl-0 w-25"><strong>Fuge</strong></th><td>{{ item.fuge }}</td></tr>{% endif %}
            <tr><th class="pl-0 w-25"><strong>Lieferung</strong></th><td><i class="fas fa-check-circle"></i> {% if item.lieferung %}{{ item.lieferung }}{% else %}bitte anfragen{% endif %}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="dichtflex-container">
    <div class="dichtflex-element">
      <h4>Bemerkung</h4>
      <p>{{ item.beschreibung }}</p>
    </div>
    <div class="dichtflex-element">
      <p>Hier <a href="{% url 'account_login' %}">anmelden oder registrieren</a> um zu bestellen.</p>
      <p>Wenn Sie nicht sicher sind, ob dies das passende Produkt für Sie ist, rufen Sie uns an unter <a href="phoneto:+41 435089060">043 508 90 60</a> oder senden Sie uns eine</p>
      <a class="btn btn-primary btn-sm" href="/kontakt">Anfrage</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
