{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Kühlschrankdichtungen nach Marken | gastrodichtung.ch{% endblock %}
{% block meta_description %}Kühlschrankdichtungen nach Marken | gastrodichtung.ch{% endblock %}

{% block content %}

<div class="container">
    <div class="storepreview">
        <div class="row">

            {% for marke in marken %}
                {% if marke.item.all.count > 0 %}  <!-- Only display if marke has associated items -->

                <div class="col-lg-3">
                    <div class="product-flex">
                        {% if marke.markepic %}
                        <a href="{% url 'store:markedetails' marke.slug %}">  <!-- Corrected URL generation -->
                            <img class="thumbnail" src="{{ marke.markepic.url }}">
                        </a>
                        {% endif %}
                        
                        <div class="box-element">
                            <div class="box-element-sub">
                                <h4>{{ marke.name }} - Dichtungen</h4>

                                <a class="btn btn-primary btn-sm" href="{% url 'store:markedetails' marke.slug %}">Zu den Produkten</a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            {% endfor %}

        </div><!-- row end -->
    </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
