.mp-flex {
	display: flex;
	align-items: stretch;
}

.inserat-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  
}

.right-flex {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.mp-main {
	width: 200px;
}

.mp-main-right {
	margin:1rem;
	background-color: var(--lightgrey);
}

.mp-text {
	padding: 1rem;
}

.mp-image-wrapper {

}
.mp-image { 
	width:250px;
	height:220px;
	object-fit: cover;
}


.mp-box {
	background-color: grey;
	padding: 1rem;
	width: 100%;
}

.mp-box p {
	color: white !important;
}

