.mp-flex {
	display: flex;
	align-items: stretch;
}

.inserat-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:wrap;
  width: 250px;
  
}

.mp-main {
	margin-right:1.5rem;
}



.right-flex {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
}



.mp-main-right {
	margin: 15px;
	background-color: var(--lightgrey);
}

.mp-text {
	padding: 1rem;
}

.mp-image-wrapper {

}
.mp-image { 
	width:250px;
	height:220px;
	object-fit: cover;
}


.mp-box {
	background-color: grey;
	padding: 1rem;
	width: 100%;
}

.mp-box p {
	color: white !important;
}

