{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}

{% block content %}


<div class="container">
    <div class="storepreview">
      <h1>Gastroverkauf - Marktplatz</h1>
     
     <br>
     <a class="btn btn-secondary btn-sm" href="{% url 'store:marktplatz_inserat_erfassen' %}">Inserat erstellen</a>
     <br><br>


      <div class="mp-flex">
        
        



     <div class="mp-main">

      <div>
        <a href="{% url 'store:marktplatz_main' %}"><h3>Alle Kategorien</h3></a>
        <br>

        {% for category in mp_categories %}
        
        <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_category' category.name %}"><li>{{ category.name }}</li></a>
        
      </ul>
      
      {% endfor %}

      <div>
        <br><br>
        <p>Gebraucht</p>
        <p>Neu</p>

      </div>
    </div>

     </div>


     {% for ins in mp_inserate %}
     {% if ins.is_active == True %}
     <div class="mp-main-right">

      
        

    <div class="inserat-flex">
      
    <div class="mp-image">
    <a href=""><img class="thumbnail" src="{% static 'images/inserat.jpg' %}"></a>
    </div>
    
    <div class="mp-text">

    
    <p>{{ ins.title }}</p>
    <p>CHF {{ ins.price|floatformat:2 }}</p>

    <br>
    <div class="mp-box">
      <p>
        {% if ins.mp_firmenname %}
      {{ ins.mp_firmenname }}
      {% endif %}

    </p>
    </div>
    
  

    </div>

    </div>
  </div>
{% endif %}

  {% endfor %}


  </div><!-- row end -->
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
