{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}

{% block content %}


<div class="container">
    <div class="storepreview">
      <h1 style="font-size:1.8em">Gastro Jobinserate</h1>
     
     <br>
     <a class="btn btn-success btn-sm" href="{% url 'store:marktplatz_jobinserat_erfassen' %}">Jobinserat erfassen</a>
     <br><br><br>


      <div class="mp-flex-jobs">
  
     <div class="mp-main">

      <div>
        <a href="{% url 'store:marktplatz_jobs' %}"><h3 style="font-size:1rem">Alle Kategorien</h3></a>
        <br>

        {% for category in mp_categories %}
        
        <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_jobs_category' category.name %}"><li>{{ category.name }}</li></a>
        
      </ul>
      
      {% endfor %}

      
    </div>

     </div>

     <div class="right-flex-jobs" style="flex-direction:row;flex-wrap: wrap;aling-items:none;"><!--wrapper -->
     

     {% for ins in mp_inserate %}
     {% if ins.is_active == True %}
     <div class="mp-main-jobs-right" style="margin:0;width:400px;margin:0 5px;">

      
      
    <div class="inserat-jobs-flex">
    
    
    
    <div class="mp-text" style="padding: 5px 15px 15px 15px">

    <h3><a href="{% url 'store:marktplatz_jobinserat_details' ins.id ins.slug %}">{{ ins.title }}
      -

      {% if ins.mp_firmenname %}
        {{ ins.mp_firmenname }}
        {% endif %}

    </a></h3>
    <p>Veröffentlichung: {{ ins.add_date|date:"d.m.Y " }}</p>
    
    </div>
    
  

    </div>

    </div><!-- end inserat flex -->
  
{% endif %}

  {% endfor %}

  </div>

</div><!--end wrapper -->


  </div><!-- row end -->
 
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
