{% load static %}
{% load cart_template_tags %}

<div class="nav-container" id="nav-container">
  <!--Navbar 1 Level -->
<nav class="navbar navbar-dark default-color main-nav" role="navigation" id="main-nav">

  <!-- Logo -->
  <a class="navbar-brand" href="{% url 'store:home' %}">
    <img src="{% static 'images/bonetta.png' %}" class="d-inline-block align-top" alt="Gastrodichtungen.ch Logo">
  </a>
    
    <div class="nav-buttons">
    <a type="button" style="font-size:0.8rem;" class="btn btn-outline-warning" href="/" rel="nofollow" title="Dichtungshop">Dichtungshop  </a>

    <a type="button" style="margin-left:5px;font-size:0.8rem;" class="btn btn-outline-warning" href="{% url 'store:marktplatz_overview' %}" title="Marktplatz">Marktplatz  </a>
    </div>

    

  

  {% if request.user.is_authenticated %}   
      <!-- Bestellungen Login Logout -->
    
    
 
      <!--- Sidebar Start --->
       <nav class="navbar navbar-expand-lg navbar-light">
    
      <button type="button" id="sidebarCollapse" class="btn btn-outline-warning btn-desktop">
        <i class="fas fa-arrow-circle-down"></i>
        Mein Konto</button>
   
        </nav>

          <div class="wrapper" id="wrapper">
          <nav class="sidebar" id="sidebar">
          
          <ul class="components">

          <li>
            <a href="{% url 'store:einstellungen' %}">Profil bearbeiten</a>
            </li> 
        
            <li>
              <a href="{% url 'store:bestellungen' %}">Bestellungen</a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">Abmelden</a>
            </li>

          </ul>
         
       </nav>
      </div>
       <!--- Sidebar End --->
      
      {% else %}

      <!-- Warenkorb Bestellungen Login Logout -->
     
    

      <a href="{% url 'account_login' %}" class="btn btn-outline-warning">Kunden-Login</a>
      
      {% endif %}

      <!-- Navbar END --> 
      </nav>

 


<!--Navbar 2 Level -->
<nav class="navbar navbar-expand-xl navbar-light sticky-top product-nav" role="navigation">
<div class="container-fluid">

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">    
                <span class="navbar-toggler-icon"></span>
    </button>     

      <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav">
            

            

            

  

              {% if request.user.is_authenticated %}
              {% if request.user.profile.firmenname %}
              <li class="nav-item"><a class="nav-link btn btn-outline-warning " href="{% url 'store:myinserate' %}">Inserate</a>
              </li>
                {% else %}
                {% endif %}
                {% else %}
              {% endif %}
         </ul>       
      </div>  
      
       </div>
              
</nav>
<!-- Navbar END --> 






</div>