{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Anleitungen Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}
{% block meta_description %}Video Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}


{% block content %}


<div class="container">
    <div class="storepreview">
      <h1>Anleitungen & Videos</h1>

      <br>
        <br>
        

        <h2>Montageanleitung Liebherr</h2>
        <br>
        <a href="{% static '/images/liebherr-dichtung-montage.jpeg' %}" target="__blank"><img style="width:30px" src="{% static '/images/download-anleitung.png' %}"> Download </a>

        <br>
        <br>
        <br>
        <br>

        <h2>Anleitungsvideo zum Marktplatz</h2>
        <br>        
        <iframe width="500" height="315" src="https://www.youtube.com/embed/Qa3Qh25DFbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        
   
   

  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
