{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Anleitungen Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}
{% block meta_description %}Video Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}


{% block content %}


<div class="container">
    <div class="storepreview">
      <h1 style="font-size:1.8em">Anleitungen & Videos</h1>

      <br>
        <br>
        

        <h2>Montageanleitungen:</h2>
        <br>
        <a href="{% static '/images/liebherr-dichtung-montage.jpeg' %}" target="__blank"><img style="width:30px" src="{% static '/images/download-anleitung.png' %}"> Download Montageanleitung Liebherr Dichtung </a>

        <br>
        <br>
        <br>
        <br>
  
   
   

  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
