{% extends 'base-cms.html' %}
{% load static %}
{% load i18n %}
{% block title %}CMS Kunden erfassen{% endblock %}
{% block stylesheet %}
   


{% endblock %}
{% block content %}

<br><br><br><br>
        
<div class="container">
    <h2>Internen Kunden erfassen</h2>
    <br>
    <div class="row padding storepreview form">
        <div class="col-sm-10 bggrey">
            <div class="form-group ">
               
    <form method="post">
        {% csrf_token %}
        {{ kunde_form.as_p }}
        {{ shipping_form.as_p }}
       <button class="btn btn-warning ml-4">Erfassen</button>
    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
