{% extends 'base-cms.html' %}
{% load static %}
{% block title %}Kunde bearbeiten{% endblock %}

{% block content %}

<div class="container">
    <h2>Kunde bearbeiten</h2>
    
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Render Kunde Form -->
            <fieldset>
                
                {{ kunde_form.as_p }}
            </fieldset>

            

            <!-- Render Kunde2 Form -->
            <fieldset>
               
                {{ kunde_form2.as_p }}
            </fieldset>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary ml-4">Speichern</button>
                    <a href="{% url 'store:cms_kunden' %}" class="btn btn-secondary">Abbrechen</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}