{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Kunden{% endblock %}

{% block content %}
    <div class="flexbox">
        <div class="h2">Kunden</div>
    </div>

    <div class="flexbox" style="align-items:start;">
        <!-- Search form -->
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:cms_kunden' %}">
            {% csrf_token %}
            <div style="display: flex">
                <div style="flex: 0 0 20%">
                    <input id="textsuche" class="form-control" type="text" placeholder="Firmenname" aria-label="Search" name="search">
                </div>
                <div style="flex: 0 0 15%">
                    <button type="submit" style="border: none;" class="btn btn-outline-secondary">
                        <span class="fas fa-search"></span> Suche
                    </button>
                </div>
                <div style="flex: 0 0 15%">
                    <a href="{% url 'store:cms_kunden' %}" style="border: none;" class="btn btn-outline-secondary">
                        <span class="fas fa-times"></span> zurücksetzen
                    </a>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Webshop<br>Kunden-Nr.</th>
                <th scope="col">Firma</th>
                <th scope="col">Kunde</th>
                <th scope="col">Telefon</th>
                
                <th scope="col">Rabatt</th>
                <th scope="col">Newsletter</th>
                <th scope="col">Firmendaten<br> bearbeiten</th>
                <th scope="col">Kunde löschen</th>
                <th scope="col">Webshop zu CRM</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop over Users -->
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.pk }}</th>
                    <td>
                        {% if user.profile.firmenname %}
                            {{ user.profile.firmenname }} <br>
                            {% for address in user.address.all %}
                                {{ address.rechnung_strasse }} {{ address.rechnung_nr }}<br>
                                {{ address.rechnung_plz }} {{ address.rechnung_ort }}<br>
                            {% endfor %}
                        {% endif %}  <!-- Missing endif added here -->
                    </td>
                    <td>
                        {% if user.first_name %} {{user.first_name}} {{user.last_name}}{% endif %}<br>
                        {% if user.profile.phone %}Tel. {{user.profile.phone}}{% endif %}<br>
                        {% if user.email %}{{user.email}}{% endif %}
                    </td>
                    <td>{% if user.profile.phone %}{{ user.profile.phone }}{% endif %}</td>
                   
                    <td>{{ user.profile.rabatt }}%</td>
                    <td>
                        {% if user.profile.newsletter %}
                            <p>Ja</p>
                        {% else %}
                            <p>Nein</p>
                        {% endif %}
                    </td>
                    <td><a href="{{ user.profile.get_absolute_url }}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{% url 'store:cms_kunde_löschen' user.pk %}"><i style="color:var(--red)" class="far fa-trash-alt"></i></a></td>
                    <td>
                        <!-- Check if the user has a related Kunde profile before accessing its properties -->
                        {% if user.profile %}
                            <a href="{% url 'store:delete_kunde_user_relationship' user.profile.pk %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-unlink"></i> Ins CRM übernehmen ({{ user.profile.elemente_count }} Elemente)
                            </a>
                        {% else %}
                            <p>Keine Element-Daten</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
