{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Produkte{% endblock %}

{% block content %}

		
			<div class="flexbox">
				<div class="h2">Produkte für {{ current_cat }}</div>

				<!-- Search form -->
				<form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:cms_produkte' first_cat %}">
				  {% csrf_token %}
				    
				  <div style="display: flex">

				  	<div style="flex: 0 0 20%">
		            <select id="category" class="form-control" name="category">

		               
		              <option selected>..wählen</option>
		              
		              {% for cat in category %}
		           
		              <option value="{{ cat }}">{{ cat }}</option>

		              {% endfor %}     

		            </select>
		        	</div>
		            
		            <div style="flex: 0 0 20%">
		            <input id="textsuche" class="form-control" type="text" placeholder="Text"
				    aria-label="Search" name="search">
					</div>
		            <div style="flex: 0 0 15%">
		            <button type="submit" style="border: none;" class="btn btn-outline-secondary">
				    <span class="fas fa-search"></span> Suche
				  </button>
				</div>
				<div style="flex: 0 0 15%">
				   

				    <a href="{% url 'store:cms_produkte' first_cat %}" style="border: none;" class="btn btn-outline-secondary"><span class="fas fa-times"></span> zurücksetzen</a>
					
				</div>
				</form>

			</div>
			<div class="flexbox">
				<a class="btn btn-secondary btn-sm mr-1" href="{% url 'store:product_cms_create' current_cat  %}">Erfassen</a>
			</div>

			<table class="table table-striped">
			  <thead>
			    <tr>
			    <th scope="col">Artikel-Nr.</th>
			      <th scope="col">Bild</th>
			      <th scope="col">Bezeichnung</th>
			      <th scope="col">Preis</th>
			      <th scope="col">Kategorie</th>
			      <th scope="col">Subkategorie</th>
			       <th scope="col">Marke</th>
			      <th scope="col">Sortierung</th>
			      <th scope="col">Bearbeiten</th>
			      <th scope="col">Löschen</th>
			     
			     
			    </tr>
			  </thead>
			  {% for data in produkte %}
			  <tbody>
			    <tr>
			      <th scope="row">{{ data.artikelnr }}</th>
			      <td>{% if data.titelbild %}
			      	<img style="width:60px" src="{{ data.titelbild.url }}">
			      	{% else %}
			      	{% endif %}
			      </td>
			      <td>{{ data.titel }}</td>
			      <td>CHF {{ data.preis|floatformat:2 }}</td>
			      <td>{{ data.kategorie }}</td>
			      <td>{{ data.subkategorie }}</td>
			      <td><a href="{% url 'store:cms_product_marke_overview' data.pk %}"><i class="fas fa-info-circle"></i>
					 </a></td>
			      <td>{{ data.sortierung }}</td>
			      <td>
			      	<a href="{% url 'store:cms_produkte_edit' data.pk current_cat %}"><i style="color:var(--red)" class="far fa-edit"></i>
					 </a>
					 </td>
  					<td>
  					<a href="{% url 'store:cms_remove_product' data.pk %}"><i style="color:var(--red)" class="far fa-trash-alt"></i>
					 </a>
					</td> 
			    </tr>
			    
			  </tbody>
			  {% endfor %}

			</table>

 {% endblock %}
