{% extends 'base.html' %}
{% load static %}
{% block title %}Magnetdichtungen Kühlschrank aller Art | gastrodichtung.ch{% endblock %}
{% block meta_description %}Magnetdichtungen Kühlschrank: Ihr Spezialist für PVC Dichtungen{% endblock %}
{% block keywords %}Magnetdichtungen Kühlschrank: Schliesst der Kühlschrank nicht mehr richtig - dann benötigen Sie die richtige Magnetdichtung.{% endblock %}

{% block content %}


    <!--SENDMAIL Start--> {% if vorname %}
            <div id="home"><div class="landing-text" style="font-size: 2.5rem"><p>Die Nachricht wurde gesendet! Zurück zur <a href="{% url 'store:home' %}">Webseite</a>.</p></div>
          </div>
            {% else %}
    <!--SENDMAIL End-->

      <div id="home">
        <div class="landing-text">
          <h1>Dichtungen nach Marke</h1>
          <br>
          <div class="container">
          <div class="storepreview">
        <div class="row">

            {% for marke in marken %}
                {% if marke.item.all.count > 0 %}  <!-- Only display if marke has associated items -->

                <div class="col-lg-5">
                    <div class="marke-flex">
                        {% if marke.markepic %}
                        <a href="{% url 'store:markedetails' marke.slug %}">  <!-- Corrected URL generation -->
                            <img class="thumbnail" src="{{ marke.markepic.url }}">
                        </a>
                        {% endif %}
                        
                        <div class="marke-element">
                            <div class="marke-element-sub">
                                <h4>{{ marke.name }} - Dichtungen</h4>

                                <a class="btn btn-primary btn-sm" href="{% url 'store:markedetails' marke.slug %}">Zu den Produkten</a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            {% endfor %}

        </div><!-- row end -->
    </div><!-- storepreview end -->
  </div><!-- container end -->

    <br>
    <br>


          <a id="scroll-link" href="#boxen" behavior="smooth"><i class="fas fa-caret-down"></i></a>
        </div>
      
      </div>
      
    
      <!--erste Reihe -->
        <div class="padding" id="boxen">
        <div class="container">
          
      
        
       



          <h2>Unsere Dichtungstypen</h2><br>
          <p class="p-white">Bei gastrodichtung.ch finden Sie ein breites Sortiment an Dichtungen und die Möglichkeit, Dichtungen nach Mass zu bestellen. Die Dichtungen regelmässig zu wechseln stellt sicher, dass Geräte immer funktionstüchtig bleiben. Wenn der Kühlschrank nicht mehr richtig schliesst, benötigen Sie eine <strong><a class="aspez" href="https://www.gastrodichtung.ch/dichtung/pvc-mit-magnet" title="Magnetdichtung">Magnetdichtung</a></strong> für den Kühlschrank. In unserem Online Shops finden Sie über 1000 Artikel, welche einfach und schnell online teilweise werden können. Wir sind seit über 10 Jahren ein starker Partner von Restaurants, Kälte- und Baufirmen. Aufgrund unserer Spezialiserung können wir beinahe jede Dichtung und Grösse bestellen.
          </p>


          </div><!-- end container -->
          </div><!-- end boxen -->

         <!--dritte Reihe -->
        <div class="padding bgblue">
        <div class="container" id="dichtungen">
        <div class="row">

          <div class="col-sm-6">
          <img loading="lazy" src="{% static '/images/gastro-dichtungen.jpg' %}" class="dichtungen-img">
          </div>

          <div class="col-sm-6">
            <br>
          <h3>Gastrodichtungen nach Mass suchen</h3>
          <p class="p-white">Kaufen Sie bei uns Magnetdichtungen und weitere Typen nach Mass. Mit unserem Dichtungskonfigurator können Sie jede Grösse bestellen. Suchen Sie jetzt mit unserem Suchfeld den gewünschten Dichtungstyp.</p>
          <br><br>
          <a href="{% url 'store:searchbar' %}" class="btn btn-warning btn-lg">Dichtungen kaufen</a>
          </div>
        
          </div>
          </div>
          </div>

 
  
          
          {% endif %}

{% endblock %}

{% block scripts %}
<script>

$("#scroll-link").click(function() {
    $('html, body').animate({
        scrollTop: $("#boxen").offset().top
    }, 2000);
});

$("#scroll-link1").click(function() {
    $('html, body').animate({
        scrollTop: $("#infosection").offset().top
    }, 2000);
});

     
  </script>
  
  {% endblock %}

    
