{% extends 'base.html' %}
{% load static %}
{% block title %}Firma | gastrodichtung.ch {% endblock %}
{% block meta_description %}Firma | gastrodichtung.ch{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}



    <div class="container">
    <div style="margin: 10rem 0;">
    <h1>Beratung & Montage</h1>
    <p>Als Firma sind wir spezialisiert auf Magnet- und Gummidichtungen für Kühlmöbel und Kühlschränke. Wir beraten Sie und montieren unsere Dichtungen.
    </p>
    <br>
    <p>
    Als Hotel- oder Restaurantkunden können Sie Ihre Dichtungen inventieren lassen und über unseren eigenen Dichtungsshop die spezifische Dichtung bestellen.</p>

    <br>

    <p>Nicht das richtige Produkt gefunden? Jetzt eine Beratung anfordern.</p>
    <br>
    <a type="button" class="btn btn-primary" href="/kontakt" title="Kontakt">Kontaktformular  </a>

    <a class="btn btn-primary" href="tel:+41793336157">079 333 61 57</a>

    <br><br>


    </div>

    </div><!--container row-->
    





{% endblock %}

    
