{% load static %}
{% load cart_template_tags %}

<!-- NAVBAR: Erste Ebene -->
<nav class="navbar navbar-expand-xl navbar-dark top-navbar py-2">
  <div class="container-fluid px-4">
    <div class="row w-100 align-items-center">

      <!-- Logo -->
      <div class="col-6 col-xl-2 d-flex align-items-center">
        <a class="navbar-brand" href="{% url 'store:home' %}">
          <img src="{% static 'images/bonetta.png' %}" alt="Logo" style="height: 38px;">
        </a>
      </div>

      <!-- Suche (nur Desktop) -->
      <div class="col-xl-8 d-none d-xl-flex justify-content-center">
        <form class="form-inline w-100 justify-content-center" action="{% url 'store:searchbar' %}">
          {% csrf_token %}
          <div class="input-group searchbar-wrapper">
            <input type="text" name="search" class="form-control" placeholder="Suche">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Burger (nur Mobile) -->
      <div class="col-6 col-xl-2 d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <!-- Collapse Bereich für Mobile -->
    <div class="collapse navbar-collapse mt-2 d-xl-none" id="mainNavCollapse">
      <ul class="navbar-nav ml-auto">

        <!-- Kategorien nur auf Mobile anzeigen -->
<div class="d-xl-none w-100">
  {% if marke_menu %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'store:marke' %}">Nach Marke</a>
  </li>
  {% endif %}

  {% for menuitem in cat_menu %}
    {% if menuitem.name == 'Weitere Dichtungen' %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownMoreSeals" data-toggle="dropdown">
        Weitere Dichtungen
      </a>
      <div class="dropdown-menu">
        {% for submenuitem in subcat_menu %}
        <a class="dropdown-item" href="{% url 'store:subcategory' 'weitere-dichtungen' submenuitem|slugify %}">
          {{ submenuitem.sub_name }}
        </a>
        {% endfor %}
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'store:category' menuitem|slugify %}">{{ menuitem.name }}</a>
    </li>
    {% endif %}
  {% endfor %}
</div>


        <!-- Weitere Links -->
        <li class="nav-item"><a class="nav-link" href="{% url 'store:firma' %}">Montage</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:kontakt' %}">Kontakt</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:bestellformular_cart' %}">Bestellformular</a></li>
      </ul>

      <!-- Suche nur Mobile -->
      <form class="form-inline d-xl-none mt-3 px-2" action="{% url 'store:searchbar' %}">
        {% csrf_token %}
        <div class="input-group searchbar-wrapper">
          <input type="text" name="search" class="form-control" placeholder="Suche">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- NAVBAR: Zweite Ebene (nur Desktop) -->
<nav class="navbar second-navbar d-none d-xl-flex">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav flex-row">
      {% if marke_menu %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store:marke' %}">Nach Marke</a>
      </li>
      {% endif %}

      {% for menuitem in cat_menu %}
        {% if menuitem.name == 'Weitere Dichtungen' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMoreSeals2" data-toggle="dropdown">
            Weitere Dichtungen
          </a>
          <div class="dropdown-menu">
            {% for submenuitem in subcat_menu %}
            <a class="dropdown-item" href="{% url 'store:subcategory' 'weitere-dichtungen' submenuitem|slugify %}">
              {{ submenuitem.sub_name }}
            </a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:category' menuitem|slugify %}">{{ menuitem.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
