{% extends 'base.html' %}
{% load static %}
{% block title %}Firma | gastrodichtung.ch{% endblock %}
{% block meta_description %}Firma | gastrodichtung.ch – Beratung & Montage für Magnet- und Gummidichtungen.{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 m-5">

  <h1 class="mb-4">Über uns</h1>
  <div class="row">
    <div class="col-lg-10">
      <p class="text-dark">
        Wir sind ein kleines, engagiertes Team mit einem klaren Fokus auf Qualität und Kundenzufriedenheit.
        Unser Geschäftsführer Bonetta Livio ist die treibende Kraft hinter unserem Unternehmen – mit innovativen Ideen und dem Einsatz moderner Technologien gestaltet er aktiv unsere Zukunft.
        Ein Teil unserer Kühlschrankdichtungen wird in unserer eigenen Produktion gefertigt, ein weiterer Teil wird zugekauft.
        Für unsere Bestandskunden setzen wir auf einen vollautomatisierten Bestell- und Produktionsablauf. Neukunden können bequem über unser Online-Shop bestellen.
        <br><br>
        <strong>Neben der Herstellung</strong> übernehmen wir auch die fachgerechte <strong>Montage der Kühlschrankdichtungen und sonstigen Dichtungen</strong>.
        Dabei legen wir grossen Wert auf persönliche Beratung vor Ort und bieten einen umfassenden Service – von der Montage über Reparaturen bis hin zur Zusammenarbeit mit unseren Servicepartnern im Bereich Kältetechnik.
        Da wir Montagen in der ganzen Schweiz durchführen, pflegen wir enge Kontakte zu regionalen Kältefachbetrieben, um unsere Kunden auch in ihrer Nähe stets den bestmöglichen Service bieten zu können.
        
      </p>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
