{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Elemente{% endblock %}

{% block content %}

		
			<div class="flexbox" style="align-items:start;">
				<div class="h2">Objekte<br><br> {{ kunde }}

					<br><br>
					 <a class="btn btn-outline-primary btn-sm" href="{% url 'store:cms_elemente_objekte_erfassen' pk cpk %}">Erfassen</a>
					<a class="btn btn-light btn-sm" href="{% url 'store:cms_elemente' cpk %}">Zurück zur Elementeliste</a>

				
				</div>
				
				

			</div>
			

			

			<table class="table table-striped">
			  <thead>
			    <tr>
			    	<th scope="col">Marke</th>
			      <th scope="col">Typ:</th>
			      <th scope="col">Modell/Code</th>
			      <th scope="col">Serien-Nr.</th>
			      <th scope="col">Lieferant</th>
			       <th scope="col">Aktionen</th>
			      
			     
			     
			    </tr>
			  </thead>
			 {% for data in objekte.all %}
			  <tbody>
			    <tr>
			    	<td>
			      	{{ data.name }}
			  		</td>
			      
			      <td>
			      	{{ data.serie }}
			  		</td>
			  		
			      <td>{{ data.modell }}</td>
			      <td>{{ data.typ }}</td>
			      <td>{% if data.lieferant %}{{ data.lieferant }}{% endif %}</td>

			      <td>

                <div class="btn-group" role="group">
                    <a href="{% url 'store:cms_elemente_objekte_bearbeiten' data.id pk cpk  %}" class="btn btn-sm btn-outline-primary" title="Bearbeiten">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'store:cms_elemente_objekte_löschen' data.id pk cpk %}" class="btn btn-sm btn-outline-danger" onclick="return confirmSend();" title="Löschen">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
                </td>
            </td>
			      {% endfor %}

			    </tr>

			    
			  </tbody>
			 

			</table>

 {% endblock %}
