{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Elemente bearbeiten{% endblock %}

{% block content %}
<div class="container">
    <h2>Elemente bearbeiten</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Artikel Dropdown -->
        <div class="form-group">
            <label for="artikel_search">Artikel durchsuchen:</label>
            <input 
                type="text" 
                id="artikel_search" 
                class="form-control" 
                placeholder="Artikel suchen..." 
                onkeyup="fetchArtikel()" 
                autocomplete="off" 
                value="{% if element.artikel %}{{ element.artikel.artikelnr }}{% endif %}">

            <!-- Hidden Input for Selected Artikel -->
            <input 
                type="hidden" 
                id="selected_artikel" 
                name="artikel_name" 
                value="{% if element.artikel %}{{ element.artikel.artikelnr }}{% endif %}">

            <!-- Dropdown/List for Artikel Suggestions -->
            <ul id="artikel_list" class="list-group mt-2"></ul>
        </div>


        <!-- Kühlposition -->
        <div class="form-group">
           <label for="id_kuehlposition">Kühlposition</label>
            {{ form.kuehlposition }}
        </div>

        <!-- Element-Nr -->
        <div class="form-group">
           <label for="id_elementnr">Element-Nr.</label>
            <input 
                type="number" 
                id="id_elementnr" 
                class="form-control" 
                name="elementnr" 
                placeholder="Element-Nr." 
                value="{{ form.elementnr.value|default_if_none:'' }}">
        </div>

        <!-- Bezeichnung -->
        <div class="form-group">
           <label for="id_bezeichnung">Bezeichnung</label>
            {{ form.bezeichnung }}
        </div>

        <!-- Bemerkung -->
        <div class="form-group">
             <label for="id_bemerkung">Bemerkung</label>
            <textarea 
                id="id_bemerkung" 
                class="form-control" 
                name="bemerkung" 
                placeholder="Bemerkung">{{ form.bemerkung.value|default_if_none:'' }}</textarea>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btn-md">
                Speichern <span class="fas fa-check-circle"></span>
            </button>
            <a href="{% url 'store:cms_elemente' cpk %}" class="btn btn-secondary btn-md ml-2">
                Abbrechen <span class="fas fa-times"></span>
            </a>
        </div>
    </form>
</div>
{% endblock %}
