{% extends 'base-cms.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Bestellung Kunde{% endblock %}

{% block content %}
    <div class="flexbox">
        <div class="h2">Bestellung Kunde</div>
    </div>

    <!-- Search and Action Buttons -->
    <div class="flexbox" style="align-items:start; margin-bottom: 20px;">
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:elemente_bestellungen' %}">
            {% csrf_token %}
            <div style="display: flex">
                <div style="flex: 0 0 40%">
                    <input id="textsuche" class="form-control" type="text" placeholder="Suche nach Auftrags-Nr." name="search" value="{{ request.GET.search }}">
                </div>
                <div style="flex: 0 0 15%">
                    <button type="submit" style="border: none;" class="btn btn-outline-primary">
                        <span class="fas fa-search"></span> Suche
                    </button>
                </div>
                <div style="flex: 0 0 15%">
                    <a href="{% url 'store:elemente_bestellungen' %}" style="border: none;" class="btn btn-light">
                        <span class="fas fa-times"></span> zurücksetzen
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- Table Display -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Auftrags-Nr.</th>
                <th>Kunden-Nr.</th>
                <th>Betrieb</th>
                <th>Montage</th>
                <th>Status</th> 
                
            </tr>
        </thead>
        <tbody>
            {% for bestellung in bestellungen %}
            <tr>
               <td>{{ bestellung.start_date|date:"d.m.Y" }}</td>

               

               <td >
                       <a href="{% url 'store:elemente_bestellung_detail' bestellung.id bestellung.betrieb_person %}" style="text-decoration: underline !important;">
                            {{ bestellung.id }}
                        </a>

                    </td>


                <td>{{ bestellung.kunden_nr }}</td>

                <td>{{ bestellung.betrieb_person }}</td>

                <td>
                {{ bestellung.montage }}
                </td>

                <td style="
                    {% if bestellung.status == 'offen' %}color: red;
                    {% elif bestellung.status == 'bestellt' %}color: orange;
                    {% elif bestellung.status == 'erledigt' %}color: green;
                    {% endif %}">
                    {{ bestellung.status }}
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="8" style="text-align: center;">Es wurden keine Bestellungen gefunden.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
