{% extends 'base-cms.html' %}
{% load static %}

{% block title %}Letzter Service Aktualisieren{% endblock %}

{% block content %}


<style>
    .form-group {
        padding: 5px;
        margin-left: 2%;
    }
    form {
        background-color: #e4e3e8;
        padding: 30px 10px;
        border-radius: 10px;
    }

    .suche-btn{
    cursor:pointer;
    margin-left:1.5rem;
      background-color: #29384f;
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
      transition: .3s all;
    }

    .reset-btn{
      
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: black;
      border-radius: 10px;
      transition: .3s all;
    }

    .suche-btn:hover {
      background-color: transparent;
       color: #29384f;
    }


</style>

<div class="container">
    <h2>Letzter Service für {{ kunde.firmenname }} aktualisieren</h2>
    <br>

    <div class="row padding storepreview form">
    <div class="col-sm-10">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn suche-btn">Speichern</button>
        <a href="{% url 'store:crm_new_kunden' %}" class="btn reset-btn">Abbrechen</a> <!-- Change this link to redirect to your list or detail view -->
    </form>

</div>
</div>

    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
