{% extends 'base-cms.html' %}
{% load static %}
{% block title %}Artikel{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="flexbox">
    <div class="h2">Artikel</div>
</div>

<div class="flexbox" style="align-items:start;">
    <a class="btn btn-outline-primary btn-sm" href="{% url 'store:crm_artikel_create' %}">Artikel erfassen</a>

    <!-- Search form -->
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:crm_artikel' %}">
        {% csrf_token %}
        <div style="display: flex">
            <div style="flex: 0 0 20%">
                <input id="textsuche" class="form-control" type="text" placeholder="Suche" aria-label="Search" name="search">
            </div>
            <div style="flex: 0 0 15%">
                <button type="submit" style="border: none;" class="btn btn-outline-primary btn-sm">
                    <span class="fas fa-search"></span> Suche
                </button>
            </div>
            <div style="flex: 0 0 15%">
                <a href="{% url 'store:crm_artikel' %}" style="border: none;" class="btn btn-light btn-sm">
                    <span class="fas fa-times"></span> zurücksetzen
                </a>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Artikel-Nr.</th>
            <th scope="col">Preiscode</th>
            <th scope="col">Dichtungstyp</th>
            <th scope="col">Aussenmasse</th>
            <th scope="col">Lieferant</th>
            <th scope="col">Einkaufspreis (CHF)</th>
            <th scope="col">Verkaufspreis (CHF)</th>
            <th scope="col">Lagerbestand</th>
            <th scope="col">Lagerort</th>
            <th scope="col">Aktionen</th>
            <th scope="col">Bestellung</th>
        </tr>
    </thead>
    <tbody>
        {% if artikel %}
            {% for artikel in artikel %}
                <tr>
                    <td>{{ artikel.artikelnr }}</td>
                    <td>
                        <a href="{% url 'store:crm_artikel_preiscode_edit' artikel.pk %}" class="btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% if artikel.preiscode.preiscode %}{{ artikel.preiscode.preiscode }}{% endif %}

                    </td>
                    <td>{% if artikel.name %}{{ artikel.name }}{% endif %}</td>
                    <td>
                        {% if artikel.aussenbreite and artikel.aussenhöhe %}
                            {{ artikel.aussenbreite }}mm / {{ artikel.aussenhöhe }}mm
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if artikel.lieferant %}
                            <a href="#" data-toggle="modal" data-target="#lieferantenartikelModal{{ artikel.pk }}">
                                {{ artikel.lieferant.name }}
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="lieferantenartikelModal{{ artikel.pk }}" tabindex="-1" role="dialog" aria-labelledby="lieferantenartikelModalLabel{{ artikel.pk }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="lieferantenartikelModalLabel{{ artikel.pk }}">Lieferantenartikel</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if artikel.lieferantenartikel %}
                                                {{ artikel.lieferantenartikel }}
                                            {% else %}
                                                Keine Daten vorhanden.
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Kein Lieferant zugeordnet
                        {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'store:crm_artikel_nettopreis_edit' artikel.pk %}" class="btn-sm btn-outline-primary">
                          <i class="fas fa-edit"></i>
                             </a>
                               
                                {% if artikel.nettopreis %}
                                CHF {{ artikel.nettopreis|floatformat:2 }}
                                 {% else %}
                                    -
                                {% endif %}
                            </td>
                    <td>
                    {% if artikel.vp %}
                                CHF {{ artikel.vp|floatformat:2 }}
                                 {% else %}
                                    -
                                {% endif %}

                       </td>
                    <td>
                        <a href="{% url 'store:crm_artikel_lagerbestand_edit' artikel.pk %}" class="btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% if artikel.lagerbestand %}
                                {{ artikel.lagerbestand }}
                                 {% else %}
                                    -
                                {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'store:crm_artikel_lagerort_edit' artikel.pk %}" class="btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% if artikel.lagerort %}
                                {{ artikel.lagerort }}
                                 {% else %}
                                    -
                                {% endif %}
                        
                    </td>
                    <td>
                        <a href="{% url 'store:crm_artikel_edit' artikel.pk %}" class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="{% url 'store:crm_artikel_delete' artikel.pk %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirmSend();" class="btn btn-sm btn-outline-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                    
                   <td>
    <!-- Button to Open Modal -->
    <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#orderModal{{ artikel.pk }}">
        <i class="fas fa-shopping-cart"></i>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="orderModal{{ artikel.pk }}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel{{ artikel.pk }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel{{ artikel.pk }}">Bestellung an Lieferant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if artikel.lieferant and artikel.lieferant.email %}
                        <p><strong>Lieferant:</strong> {{ artikel.lieferant.name }}</p>
                        <p><strong>Email:</strong> {{ artikel.lieferant.email }}</p>
                        <p><strong>Artikel:</strong> {{ artikel.name }}</p>
                        <p><strong>Masse:</strong> {{ artikel.aussenbreite }} x {{ artikel.aussenhöhe }} mm</p>

                        <!-- Form for Anzahl -->
                        <form method="POST" action="{% url 'store:lieferant_send_order_email' artikel.pk %}" onsubmit="return confirmSendOrder();">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="anzahl{{ artikel.pk }}">Anzahl</label>
                                <input type="number" id="anzahl{{ artikel.pk }}" name="anzahl" class="form-control" min="1" value="1">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Bestellung senden</button>
                        </form>
                    {% else %}
                        <p>Keine E-Mail für diesen Lieferanten verfügbar.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>
</td>



                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="11">Keine Artikel gefunden.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
