{% extends 'base-cms.html' %}
{% block title %}Elemente in Bestellung bearbeiten{% endblock %}
{% block content %}

<style>
    .form-group {
        padding: 5px;
        margin-left: 2%;
    }
    form {
        background-color: #e4e3e8;
        padding: 30px 10px;
        border-radius: 10px;
    }

    .suche-btn{
    cursor:pointer;
    margin-left:1.5rem;
      background-color: #29384f;
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
      transition: .3s all;
    }

    .reset-btn{
      
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: black;
      border-radius: 10px;
      transition: .3s all;
    }

    .suche-btn:hover {
      background-color: transparent;
       color: #29384f;
    }


</style>

<div class="container">
    <h2>Elemente in Bestellung bearbeiten</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary ml-4">Speichern</button>
        <a href="{% url 'store:elemente_bestellung_detail' bestellung.id betrieb %}" class="btn btn-secondary">Abbrechen</a>
    </form>
</div>
{% endblock %}
