{% extends 'base-cms.html' %}
{% load static %}
{% load i18n %}
{% block title %}Artikel bearbeiten{% endblock %}
{% block stylesheet %}
<!-- Add your custom styles here if needed -->
{% endblock %}
{% block content %}

<div class="produkt">
    <h2 style="margin:0">Artikel bearbeiten</h2>
    <br>
    <div class="row padding storepreview form">
        <div class="col-sm-10">
            <div class="form-group">

                <form method="post">
                    {% csrf_token %}
                    <div class="register-flex">
                        <!-- Artikel Fields -->
                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.artikelnr.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.artikelnr }}
                                <br>
                            </div>
                        </div>

                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.name.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.name }}
                                <br>
                            </div>
                        </div>

                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.aussenbreite.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.aussenbreite }}
                                <br>
                            </div>
                        </div>

                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.aussenhöhe.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.aussenhöhe }}
                                <br>
                            </div>
                        </div>

                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.nettopreis.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.nettopreis }}
                                <br>
                            </div>
                        </div>

                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-label">
                                {{ form.vp.label_tag }}
                            </div>
                            <div class="register-flex-item">
                                {{ form.vp }}
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- End Artikel Fields -->

                    <!-- Submit Button -->
                    <div class="register-flex">
                        <div class="register-flex-wrapperitem">
                            <div class="register-flex-item">
                                <button class="btn btn-primary btn-md ">Erfassen <span class="fas fa-check-circle"></span></button>
                            </div>
                            <div class="register-flex-item">
                               
                                    
                                    <button class="btn btn-light btn-md "><a href="{% url 'store:crm_artikel' %}">Zurück <span class="fas fa-times"></span></a></button>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}