{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CRM Kunden{% endblock %}
{% load custom_filters %}

{% block content %}

<style>
    .flexbox{
      align-items: center;
      border-radius: 40px;
    }
    .price-code-btn{
      background-color: #29384f;
      border-color: #29384f;
      border-width: 2px;
      font-weight: 600 !important;
      padding: .375rem .75rem;
      font-size: 18px;
      color: #fff;
      transition: .3s all;
      border-radius: 10px;
    }
    .form-control {
        padding: .5rem .75rem;
        font-size: 1rem;
    }
    .price-code-btn:hover{
      background-color: #fff;
      border-color: #29384f;
      color: #29384f;
    }
    #textsuche {
      border-radius: 10px;
      margin-right: 5px;
    }
    .suche-btn, .reset-btn{
      background-color: #29384f;
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
      transition: .3s all;
    }
    .suche-btn:hover {
      background-color: transparent;
       color: #29384f;
    }
    .reset-btn:hover{
      background-color: transparent;
        color: #29384f;
    }
    .flexbox-header{
       padding: 40px 20px;
       background-color: #e4e3e8;
    }
    .flexbox .h2{
      color: #29384f;
      font-weight: 800;
    }
    .search-box{
      margin-top: -7px;
      margin-right: 7px;
    }
  </style>
  
  
  <div class="flexbox">
    <div class="h2">
      Kunde
    </div>
  </div>
  
  <div class="flexbox flexbox-header">
  
    <a class="btn btn-sm price-code-btn" href="{% url 'store:crm_new_kunde_erfassen' %}">CRM Kunde erfassen</a>
  
    <!-- Search form -->
    <form class="form-inline d-flex justify-content-end md-form form-sm" action="{% url 'store:crm_new_kunden' %}">
      {% csrf_token %}
      <div style="display: flex">


        <div style="flex: 0 0 20%" class="search-box">
          {{ address_form.as_p }}
        </div>

        <div style="flex: 0 0 20%">
          <input id="textsuche" class="form-control" type="text" placeholder="Suche" aria-label="Search" name="search">
        </div>

        <div style="flex: 0 0 15%">
          <button type="submit" style="border: none;" class="btn btn-sm suche-btn mr-2">
            <span class="fas fa-search"></span> Suche
          </button>
        </div>
        <div style="flex: 0 0 15%">
          <a href="{% url 'store:crm_new_kunden' %}" style="border: none;" class="btn btn-light btn-sm reset-btn"><span class="fas fa-times"></span> zurücksetzen</a>
        </div>
      </div>
    </form>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Interne Nr.</th>
            <th scope="col">Betrieb/Firma</th>
            <th scope="col">Ansprechpartner</th>
            <th scope="col">Kundendaten<br> bearbeiten</th>
            <th scope="col">Elemente<br> Übersicht</th>
            <th scope="col">Kunde erfasst am</th>
            <th scope="col">Letzter Service</th>
            <th scope="col">Fällig am</th>
            <th scope="col"># Tage</th>
            <th scope="col">Kunde löschen</th>
        </tr>
    </thead>
    <tbody>
        {% for kunde in kunden %}
            {% if not kunde.user %}
                <tr>
                    <td>{{ kunde.interne_nummer|default:"" }}</td>
                    <td>
                        {{ kunde.firmenname|default:"" }}<br>
                        {% for address in kunde.kunde_address.all %}
                            {{ address.crm_strasse|default:"" }} {{ address.crm_nr|default:"" }},
                            {{ address.crm_plz|default:"" }} {{ address.crm_ort|default:"" }}<br>
                            {{ address.crm_kanton|default:"" }}
                        {% empty %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ kunde.vorname|default:"" }} {{ kunde.nachname|default:"" }}<br>
                        Tel: {{ kunde.phone|default:"" }} {{ kunde.mobile|default:"" }}<br>
                        {{ kunde.email|default:"" }}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{{ kunde.get_absolute_crm_url }}" class="btn btn-sm btn-outline-primary" title="Bearbeiten">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="{{ kunde.get_absolute_elemente_url }}" class="btn btn-sm btn-outline-primary" title="Elemente Übersicht">
                            <i class="fas fa-info-circle"></i> / {{ kunde.elemente_count|default:"" }}
                        </a>
                    </td>
                    <td>{{ kunde.created_at|date:"d.m.Y"|default:"" }}</td>
                    <td>
                        {% if kunde.last_service %}
                            {{ kunde.last_service|date:"d.m.Y" }}
                            <a href="{% url 'store:crm_update_last_service' kunde.pk %}">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'store:crm_update_last_service' kunde.pk %}">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if kunde.get_due_date %}
                            {{ kunde.get_due_date|date:"d.m.Y" }}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {% with kunde.last_service as last_service %}
                            {% with kunde.get_due_date as due_date %}
                                {% if last_service and due_date %}
                                    {% with last_service|days_until_due:due_date as days_until_due %}
                                        <span {% if days_until_due < 60 %} style="color: red;" {% endif %}>
                                            {{ days_until_due }}
                                        </span>
                                    {% endwith %}
                                {% else %}
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    </td>
                    <td>
                        <a href="{% url 'store:cms_crm_kunde_löschen' kunde.pk %}" onclick="return confirmSend();">
                            <i style="color:var(--red)" class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}