{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Lager erfassen{% endblock %}

{% block content %}

		
			<div class="produkt">
				
			<div class="produkt-header">
			<h2>Lager erfassen</h2>
			</div>
			<br>
			<div class="form-group">
		    
		    <form method="POST" enctype="multipart/form-data">
		      {% csrf_token %}
		      {{ lager_form.media }}
		      {{ lager_form.as_p }}

		     <br><br>
		      <button class="btn btn-primary btn-save">Speichern <span class="fas fa-check-circle"></span></button>

		      <button class="btn btn-light btn-small"><a href="{% url 'store:crm_lagerbestand' %}">Zurück <span class="fas fa-times"></span></a></button>
		      
  			</div>
  			</div>
			
			   </form>
			   </div>
			   
			
			</div>

 {% endblock %}

