{% extends 'base-cms.html' %}
{% load static %}
{% block title %}Kunde Erfassen{% endblock %}

{% block content %}

<style>
    .form-group {
        padding: 5px;
        margin-left: 2%;
    }
    form {
        background-color: #e4e3e8;
        padding: 30px 10px;
        border-radius: 10px;
    }

    .suche-btn{
    cursor:pointer;
    margin-left:1.5rem;
      background-color: #29384f;
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
      transition: .3s all;
    }

    .reset-btn{
      
      border: 2px solid #29384f !important;
      padding: 8px;
      font-weight: 600;
      color: black;
      border-radius: 10px;
      transition: .3s all;
    }

    .suche-btn:hover {
      background-color: transparent;
       color: #29384f;
    }

</style>

<div class="container">
    <h2>Kunde erfassen</h2>
    
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Render Kunde Form -->
            <fieldset>
                
                {{ kunde_form.as_p }}
            </fieldset>

            <!-- Render Address Form -->
            <fieldset>
               
                {{ address_form.as_p }}
            </fieldset>

            <!-- Render Kunde2 Form -->
            <fieldset>
               
                {{ kunde_form2.as_p }}
            </fieldset>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn suche-btn">Speichern</button>
                    <a href="{% url 'store:crm_new_kunden' %}" class="btn reset-btn">Abbrechen</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
