{% extends 'base-cms.html' %}
{% load static %}
{% block title %}Lieferanten{% endblock %}
{% load custom_filters %}

{% block content %}
    <div class="flexbox">
        <div class="h2">Lieferanten</div>
    </div>

    <div class="flexbox" style="align-items:start;">
        
        <a class="btn btn-outline-primary btn-sm" href="{% url 'store:lieferant_create' %}">Lieferant erfassen</a>

        <!-- Search form -->
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:lieferanten' %}">
            {% csrf_token %}
            <div style="display: flex">
                <div style="flex: 0 0 20%">
                    <input id="textsuche" class="form-control" type="text" placeholder="Suche" aria-label="Search" name="search">
                </div>
                <div style="flex: 0 0 15%">
                    <button type="submit" style="border: none;" class="btn btn-outline-primary btn-sm">
                        <span class="fas fa-search"></span> Suche
                    </button>
                </div>
                <div style="flex: 0 0 15%">
                    <a href="{% url 'store:lieferanten' %}" style="border: none;" class="btn btn-light btn-sm"><span class="fas fa-times"></span> zurücksetzen</a>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lieferanten-Nr.</th>
                <th scope="col">Name</th>
                <th scope="col">Adresse</th>
                <th scope="col">PLZ</th>
                <th scope="col">Ort</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Aktionen</th>
              
            </tr>
        </thead>
        <tbody>
             {% for lieferant in lieferanten %}
                <tr>
                    <td>{% if lieferant.number %}{{ lieferant.number }}{% endif %}</td>
                    <td>{{ lieferant.name }}</td>
                    <td>{{ lieferant.adresse }}</td>
                    <td>{{ lieferant.plz }}</td>
                    <td>{{ lieferant.ort }}</td>
                    <td>{% if lieferant.email %}{{ lieferant.email }}{% endif %}</td>
                    <td>
                <div class="btn-group" role="group">
                    <a href="{% url 'store:lieferant_edit' lieferant.pk %}" class="btn btn-sm btn-outline-primary" title="Bearbeiten">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'store:lieferant_delete' lieferant.pk %}" class="btn btn-sm btn-outline-danger" onclick="return confirmSend();" title="Löschen">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
