{% extends 'base-cms.html' %}
{% load static %}
{% load i18n %}
{% block title %}Lieferant erfassen{% endblock %}
{% block stylesheet %}
<!-- Add your custom styles here if needed -->
{% endblock %}
{% block content %}


<div class="container">
    <h2>Lieferant erfassen</h2>
    
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            
                <button type="submit" class="btn btn-primary ml-4">Speichern</button>
                <a href="{% url 'store:lieferanten' %}" class="btn btn-secondary">Abbrechen</a>
          
        </form>
    </div>
</div>

{% endblock %}
