{% extends 'base-cms.html' %}
{% load static %}
{% block title %}QR Code{% endblock %}

{% block content %}
    <div class="flexbox">
        <h1>Scanne den QR Code für das Bestellformular</h1>
    </div>

    <div class="container">
       
       <!-- Display the QR code from base64 data -->
       <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code to Bestellformular">

       <br><br>
       <!-- Button to download the QR code as PNG -->
       <a href="{% url 'store:download_qr_code' %}" class="btn btn-primary">QR Code als PNG herunterladen</a>

    </div>
{% endblock %}
